<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/0d0fc5b67b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap" rel="stylesheet">
    <title>Oscar's Birds</title>
</head> 
<body  class='layered-image'>
    <!-- <img src="/images/Oscar's Birds-logos.jpeg" alt=""> -->

    
    
    <nav>
        <h4>Menu</h4>
        <ul>
            <li><a href="/"><i class="fa-solid fa-house-user"></i>Home</a></li>
            <li><a href="/api/manager"><i class="fa-solid fa-cloud-arrow-up"></i></i>Manager</a></li>
        </ul>
    </nav>

    <section class="logo">
        
        <!-- <img src="/images/Oscar's Birds-logos.jpeg" alt=""> -->
        <!-- <img src="/images/Oscar's Birds-logos_transparent.png" alt> -->
        <img src="/images/Oscar's Birds-logos_white.png" alt>

    </section>

    <main>

        <!-- <h1>Oscar's Birds<i class="fa-solid fa-dove"></i></h1>  -->
    
        <!-- <label for="birdName">Name:</label> -->
        <input id="searchInput" type="text" placeholder="Species" name="birdName" autocomplete="off">
        <button id="searchButton">SEARCH</button>
    
        <section id="displayArea">
            <ul>
                <li class="stack"><span class="resultLabel">Name: </span><span id='birdName'></span></li>                 
                <li class="stack"><span>Scientific Name: </span><span id='scifiName'></span></li>
                <li id="descriptionListItem"><span>Desciption: </span><p id='description'></p></li>
                <li id="imageListItem"><span>Image: </span><span><img id='image' src="" alt=""></span></li>
            
            </ul>
        </section>

    </main>
    


    <script src="/main.js"></script>
</body>
</html>