<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIRDS - SEQ</title>
</head>
<body>
    <h1>Fish</h1>
    
    <form action="/api" method="GET">
        <label>Name:
        <input name="submitted-name">
        </label>
        <button>SEARCH</button>
    </form>

    <!-- <form action="/api" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="speciesName" name="speciesName">
        <textarea rows="5" cols="40" type="text" placeholder="features" name="features"></textarea>
        <input type="text" placeholder="homeworld" name="homeworld">
        <input type="text" placeholder="image" name="image">
        <textarea rows="5" cols="40" type="text" placeholder="interestingFact" name="interestingFact"></textarea>
        <input type="text" placeholder="notableExamples" name="notableExamples">
        <button type="submit">SUBMIT NEW</button>
        <button type="button" id="updateButton">UDPATE EXISTING</button>
    </form> -->

</body>
</html>